<%# app/views/events/components/teams/_bench.html.erb %>

<div id="bench" class="bg-[#1E1E1E] rounded-md col-start-2 col-span-2">

  <h2 class="py-2 text-center bg-gray-700 text-xl rounded-t-md">
    Sur le Banc
  </h2>

  <ul class="space-y-1 py-4 px-16">
    <% @bench.players.each do |player| %>
      <%= render 'events/components/teams/players/substitute', player: player %>
    <% end %>
  </ul>

</div>
